.articleplaceholder-statementgroup {
  display: inline-block;
  border: 1px solid #AAA;
  vertical-align: top;
  padding: 10px;
  margin: 20px;
  width: 350px;
}

#bodyContent {
  padding-top: 5%;
  padding-right: 305px;
}

.mw-body .mw-body-content .articleplaceholder-statementgroup h1 {
  margin-top: 0; /*overwrite standard 1em top margin*/
}

#create-article-button {
  position: absolute;
  top: 0px;
  left: 10px;
}

.articleplaceholder-sidebar {
  position: absolute;
  right: 0px;
  width: 310px;
}

.articleplaceholder-topimage {
  float: right;
}

.articleplaceholder-identifierlist {
  clear: both;
  border: 1px solid #ccc;
  background-color: #F9F9F9;
  width: 100%;
  padding: 0.4em;
}

.articleplaceholder-identifierlist td{
  vertical-align: top;
  padding:0.25em;
}

.mw-body .articleplaceholder-identifierlist p {
  margin-top: 0;
}

.articleplaceholder-id-value {
  word-break:break-all;
}

.articleplaceholder-statement {
  margin-top: 0em;
}

.articleplaceholder-statementgrouplist {
  margin-top: 1.5em;
}

.articleplaceholder-identifierlist .articleplaceholder-value {
  font-size: 100%;
}

.articleplaceholder-identifierlist .articleplaceholder-value {
  font-size: 100%;
  margin-left: 1.5em;
}

.articleplaceholder-qualifier {
  margin-left: 1em;
}