.articleplaceholder-statementgroup {
  display: inline-block;
  border: 1px solid #AAA;
  vertical-align: top;
  padding: 10px;
  margin: 20px;
  width: 350px;
  max-height: 300px;
  overflow: auto;
}

#bodyContent {
  padding-top: 3em;
  padding-right: 305px;
}

/* Needs a selector that's stronger than ".mw-body h2" */
.mw-body .articleplaceholder-statementgroup h2,
.mw-body .articleplaceholder-identifierlist h2 {
  margin-top: 0;
}

#create-article-button {
  position: absolute;
  top: 0px;
  left: 10px;
}

.articleplaceholder-sidebar {
  position: absolute;
  right: 0px;
  width: 310px;
}

.articleplaceholder-topimage {
  float: right;
}

.articleplaceholder-identifierlist {
  clear: both;
  border: 1px solid #ccc;
  background-color: #F9F9F9;
  width: 100%;
  padding: 0.4em;
}

.articleplaceholder-identifierlist td{
  vertical-align: top;
  padding:0.25em;
}

.articleplaceholder-id-value {
  word-break:break-all;
}

.articleplaceholder-statement {
  margin-top: 0em;
}

.articleplaceholder-statementgrouplist {
  margin-top: 1.5em;
}

.articleplaceholder-identifierlist .articleplaceholder-value {
  font-size: 100%;
}

.articleplaceholder-identifierlist .articleplaceholder-value {
  font-size: 100%;
  margin-left: 1.5em;
}

.articleplaceholder-qualifier {
  margin-left: 1em;
}
