.articleplaceholder-sidebar, .articleplaceholder-statementgroup {
  float: none;
  position: static;
}

.articleplaceholder-statementgroup {
  width: 80%;
}

.articleplaceholder-sidebar {
  width: 95%;
}
